<div id="largePicture" class="modal fade" id="myModal">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <!-- Modal body -->
            <div class="modal-body">
                <button type="button" class="close alert btn-warning" data-dismiss="modal">&nbsp;&times;&nbsp;</button>
                <img src="{{ asset('images/room/'~room.picture) }}" class="img-fluid" alt="Photo de la salle {{ room.name }}">
            </div>

        </div>
    </div>
</div>

