<form class="mt-3" action="">
    <div class="form-group">
        <label for="room_capacity_select">Capacité</label>
        <select class="custom-select" id="room_capacity_select">
            <option selected disabled>Capacité</option>
            <option>moins de 5 personnes</option>
            <option>entre 5 et 10 personnes</option>
            <option>entre 10 et 20 personnes</option>
            <option>20 personnes et plus</option>
        </select>
    </div>
    <div class="form-group">
        <label for="exampleFormControlSelect2">Options</label>
        <select multiple class="form-control" id="exampleFormControlSelect2">
            <option>Wifi</option>
            <option>Vidéoprojecteur</option>
            <option>Paperboard</option>
            <option>Chauffage au sol</option>
            <option>Balcon ou terrasse</option>
            <option>Estrade</option>
        </select>
    </div>
    <div class="form-group row mx-0 mt-0">
        <button type="button" class="btn btn-info col-md-5 mt-0"><i class="fas fa-search"></i></button>
        <button type="button" class="btn btn-info col-md-5 offset-2 mt-0"><i class="fas fa-redo"></i></button>
    </div>
    {#<div class="form-group">#}
        {#<legend class="col-form-label required">Options</legend>#}
        {#<div class="form-check">        <input type="checkbox" id="room_features_0" name="room[features][]" class="form-check-input" value="Wifi"">#}
            {#<label class="form-check-label" for="room_features_0">Wifi</label></div>#}
        {#<div class="form-check">        <input type="checkbox" id="room_features_1" name="room[features][]" class="form-check-input" value="Vidéoprojecteur">#}
            {#<label class="form-check-label" for="room_features_1">Vidéoprojecteur</label></div>#}
        {#<div class="form-check">        <input type="checkbox" id="room_features_2" name="room[features][]" class="form-check-input" value="Paperboard">#}
            {#<label class="form-check-label" for="room_features_2">Paperboard</label></div>#}
        {#<div class="form-check">        <input type="checkbox" id="room_features_3" name="room[features][]" class="form-check-input" value="Chauffage au sol">#}
            {#<label class="form-check-label" for="room_features_3">Chauffage au sol</label></div>#}
        {#<div class="form-check">        <input type="checkbox" id="room_features_4" name="room[features][]" class="form-check-input" value="Balcon ou terrasse">#}
            {#<label class="form-check-label" for="room_features_4">Balcon ou terrasse</label></div>#}
        {#<div class="form-check">        <input type="checkbox" id="room_features_5" name="room[features][]" class="form-check-input" value="Estrade">#}
            {#<label class="form-check-label" for="room_features_5">Estrade</label></div>#}
    {#</div>#}
</form>