{{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}
{{ form_widget(form) }}
<button class="btn btn-info" style="margin-top: 20px;" data-toggle="tooltip" data-placement="top" title="Enregistrer">
    <i class="fas fa-check"></i>
</button>
<a href="{{ path('room_show', { 'id': unavailability.room.id }) }}" style="color: #fff;">
    <button type="button" class="btn btn-info" style="margin-top: 20px;" data-toggle="tooltip" data-placement="top" title="Retour">
        <i class="fas fa-chevron-left"></i>
    </button>
</a>
{{ form_end(form) }}
