{% extends 'layout.html.twig' %}

{% block page_title %}Réservation{% endblock %}

{% block content %}

    <div class="jumbotron col-md-6 mx-auto mt-4">

        <h1>Organiser une réunion</h1>

        {{ include('unavailability/_form.html.twig') }}

    </div>

{% endblock %}
