{% extends 'layout.html.twig' %}

{% block page_title %}Nouveau{% endblock %}

{% block content %}

    <div class="jumbotron col-md-9 mx-auto">

        <h1>Organiser une réunion</h1>

        {{ include('unavailability/_form.html.twig') }}

        <a href="{{ path('unavailability_index') }}">Retour</a>

    </div>

{% endblock %}
