{% extends 'layout.html.twig' %}

{% block page_title %}Réservation{% endblock %}

{% block content %}

    <div class="jumbotron col-md-6 mx-auto mt-4">

        <h1>Salle {{ unavailability.room.name }}</h1>
        <h2>du {{ unavailability.startDate | date('d/m/Y à h\\hi') ~ ' au ' ~ unavailability.endDate | date('d/m/Y à h\\hi') }}</h2>

        {{ include('unavailability/_form.html.twig') }}

    </div>

{% endblock %}
