{% extends 'layout.html.twig' %}

{% block page_title %}Nouveau{% endblock %}

{% block content %}

    <div class="jumbotron col-md-6 mx-auto mt-4">

        <h1>Organiser une réunion</h1>

        {{ form_start(form, {attr:{novalidate: 'novalidate' }}) }}
        {{ form_widget(form) }}
        <button class="btn btn-info" style="margin-top: 20px;" data-toggle="tooltip" data-placement="top" title="Enregistrer"><i class="fas fa-check"></i></button>
        {{ form_end(form) }}

    </div>

{% endblock %}
