{% extends 'layout.html.twig' %}

{% block page_title %}Réservation{% endblock %}

{% block content %}

    <div class="jumbotron col-md-6 mx-auto mt-4">

        <h1>Organiser une réunion</h1>

        {{ include('unavailability/_form.html.twig') }}

    </div>

{% endblock %}


{#{% block javascripts %}#}
    {#<script>#}
        {#window.onmousedown = function (e) {#}
            {#var el = e.target;#}
            {#if (el.tagName.toLowerCase() == 'option' && el.parentNode.hasAttribute('multiple')) {#}
                {#e.preventDefault();#}

                {#// toggle selection#}
                {#if (el.hasAttribute('selected')) el.removeAttribute('selected');#}
                {#else el.setAttribute('selected', '');#}

                {#// hack to correct buggy behavior#}
                {#var select = el.parentNode.cloneNode(true);#}
                {#el.parentNode.parentNode.replaceChild(select, el.parentNode);#}
            {#}#}
        {#}#}
    {#</script>#}
{#{% endblock %}#}
