{% extends 'layout.html.twig' %}

{% block title %}A bas la réunionnite !{% endblock %}

{% block content %}

    <div class="jumbotron col-md-9 mx-auto mt-4">

        <h1 class="display-3"><i class="fas fa-fist-raised"></i> A bas la réunionnite !</h1>

        <p class="lead">Bonjour{{ is_granted('IS_AUTHENTICATED_FULLY') ? ' '~app.user.firstName~' '~app.user.lastName : '' }},</p>
        <p class="lead">Bienvenue sur notre service corporate d'optimisation digitale de happiness development agile.</p>
        <hr class="my-4">
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="{{ path('room_index') }}" role="button">Réserver une salle</a>
            </p>
        {% else %}
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="{{ path('app_login') }}" role="button">Se connecter</a>
            </p>
        {% endif %}

        <div class="row">
            <div class="col-12">Actuellement :</div>
            <div class="card text-white bg-success col-11 col-sm-4 col-lg-4 mb-1 mb-sm-3 mx-auto text-center">
                <div class="card-body">
                    <h4 class="card-title">13</h4>
                    <p class="card-text">salles disponibles</p>
                </div>
            </div>
            <div class="card text-white bg-success col-11 col-sm-4 col-lg-4 mb-1 mb-sm-3 mx-auto text-center">
                <div class="card-body">
                    <h4 class="card-title">2</h4>
                    <p class="card-text">salles occupées</p>
                </div>
            </div>
            <div class="card text-white bg-success col-11 col-sm-4 col-lg-4 mb-1 mb-sm-3 mx-auto text-center">
                <div class="card-body">
                    <h4 class="card-title">25</h4>
                    <p class="card-text">capacité maximum</p>
                </div>
            </div>
            <div class="col-12">Chez ReunionIT :</div>
            <div class="card text-white bg-secondary col-11 col-sm-4 col-lg-4 mb-1 mb-sm-3 mx-auto text-center">
                <div class="card-body">
                    <h4 class="card-title">15</h4>
                    <p class="card-text">salles disponibles</p>
                </div>
            </div>
            <div class="card text-white bg-secondary col-11 col-sm-4 col-lg-4 mb-1 mb-sm-3 mx-auto text-center">
                <div class="card-body">
                    <h4 class="card-title">7</h4>
                    <p class="card-text">réunions programmées</p>
                </div>
            </div>
            <div class="card text-white bg-secondary col-11 col-sm-4 col-lg-4 mb-1 mb-sm-3 mx-auto text-center">
                <div class="card-body">
                    <h4 class="card-title">47</h4>
                    <p class="card-text">capacité maximum</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
