{% extends 'layout.html.twig' %}

{% block page_title %}Modifier{% endblock %}

{% block content %}
<div class="jumbotron col-md-9 mx-auto">
    <h1>Modifier l'utilisateur</h1>

    {{ include('user/_form.html.twig', {'button_label': 'Enregistrer'}) }}

    <a href="{{ path('user_index') }}">Liste des utilisateurs</a>

    {{ include('user/_delete_form.html.twig') }}
</div>
{% endblock %}
