{% extends 'layout.html.twig' %}

{% block page_title %}
    Changer mon mot de passe
{% endblock %}

{% block content %}
    <div class="jumbotron col-md-3 mx-auto mt-4">
        {#<form method="post">#}
            {#{% if error %}#}
                {#<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>#}
            {#{% endif %}#}

            <h1 class="h3 mb-3 font-weight-normal">Modifier mon mot de passe</h1>

            {{ form(form) }}

            {#<label for="inputOldPassword" class="sr-only">Ancien mot de passe</label>#}
            {#<input type="password" name="password" id="inputOldPassword" class="form-control" placeholder="Ancien mot de passe" required autofocus>#}

            {#<label for="inputNewPassword" class="sr-only">Nouveau mot de passe</label>#}
            {#<input type="password" name="password" id="inputNewPassword" class="form-control" placeholder="Nouveau mot de passe" required autofocus>#}

            {#<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" >#}

            {#<button class="btn btn-lg btn-primary" type="submit">#}
                {#Enregistrer#}
            {#</button>#}
        {#</form>#}
    </div>
{% endblock %}



