{% extends 'layout.html.twig' %}

{% block page_title %}
    Changer mon mot de passe
{% endblock %}

{% block content %}
    <div class="jumbotron col-md-3 mx-auto mt-4">

            <h1 class="h3 mb-3 font-weight-normal">Mettre à jour mon mot de passe</h1>

            {{ form(form, {'attr': {'novalidate': 'novalidate'}}) }}

    </div>
{% endblock %}



