<h3>Bravo ! Vous êtes inscrit !</h3>

Bonjour {{ firstName ~' '~ lastName }}, votre compte vient d'être créé sur RéunionIT.

{# example, assuming you have a route named "login" #}
Pour vous connecter, cliquez sur <a href="{{ path('index') }}">ce lien</a>.

Votre mot de passe provisoire est <strong>{{ temporaryPassword }}</strong>, veuillez le changer rapidement.

A très vite !

Rémi et Pascal.
{# Makes an absolute URL to the /images/logo.png file #}
<img src="{{ absolute_url(asset('images/template-gecko.svg')) }}">