<p>Bonjour {{ data.organiser.firstName }}, votre réservation de la salle {{ data.room.name }} le {{ data.startDate|date('d/m/Y', "Europe/Paris") }} a été annulée.</p>

<p>A très vite !</p>

<p>Rémi et Pascal.</p>

<p>
    <img src="{{ absolute_url(asset('images/template-gecko.svg')) }}">
</p>